.logo {
    color: #0a1b32;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.6;
    letter-spacing: -0.02em;
    margin-top: 37px;
    margin-left: 80px;
}

.logo-dot { /* span, gets the .logo styling*/
    color: #A3DC00;
}

section {
    display: inline-block;
}

.hero-heading {
    font-family: 'Ramaraja', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 76px;
    /* or 106% or 1.06*/
    letter-spacing: 0.02em;
    color: #1B0A42;
    max-width: 495px;
    width: 100%;
    margin-top: 203px;
    margin-left: 200px;
}

.hero-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    letter-spacing: 0.02em;
    color: #9A9A9A;
    max-width: 583px;
    width: 100%;
    margin-top: 10px;
    margin-left: 200px;
}

.CTA {
    width: 152px;
    height: 64px;
    background-color: #A3DC00;
    margin-top: 50px;
    margin-left: 200px;
    border-radius: 6px;
    border: none;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */
    text-align: center;
    letter-spacing: 0.02em;
}

/* .hero-heading, .hero-text, .CTA {
    margin-left: 200px;
} */