.logo {
    color: #0a1b32;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.6;
    letter-spacing: -0.02em;
    /*font-family: Montserrat*/
    margin-top: 37px;
    margin-left: 80px;
}

.logo-dot { /* span, gets the .logo styling*/
    color: #A3DC00;
}

.hero-heading {
    font-family: 'Ramaraja', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 76px;
    /* or 106% or 1.06*/

    letter-spacing: 0.02em;

    color: #1B0A42;

    max-width: 495px;
    width: 100%;
    height: 152px;
    margin-top: 203.09px;
    margin-left: 200px;
    /*margin: 280.71px 905px 487.29px 200px; */
}

.hero-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */

    letter-spacing: 0.02em;

    color: #9A9A9A;

    width: 582.71px;
    height: 96px;
    margin-top: 10px;
    margin-left: 200px;
}